body {
    background-color: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(52, 15px); /* 52 tygodnie */
    grid-gap: 4px;
  }
  
  .square {
    width: 15px;
    height: 15px;
    background-color: #161b22;
    border-radius: 2px;
    animation: colorAnimation 5s infinite alternate;
    opacity: 0.8;
  }
  
  .square:nth-child(4n) {
    animation-delay: 0.2s;
  }
  
  .square:nth-child(7n) {
    animation-delay: 0.5s;
  }
  
  .square:nth-child(15n) {
    animation-delay: 1s;
  }
  
  /* Animacja */
  @keyframes colorAnimation {
    0% {
      background-color: #161b22;
    }
    50% {
      background-color: #30c769; /* Zielony */
    }
    100% {
      background-color: #b14dff; /* Fioletowy */
    }
  }  